@model IEnumerable<SportZone_MVC.DTOs.FacilityDto>
@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với SportZone</h1>
    <p>Hệ thống đặt sân thể thao hàng đầu.</p>
</div>

<div classs="row">
    <h3>Các cơ sở nổi bật</h3>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var facility in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@Url.Content("~/" + facility.Images)" class="card-img-top" alt="@facility.Name" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@facility.Name</h5>
                    <p class="card-text"><i class="fa fa-map-marker-alt"></i> @facility.Address</p>
                    <p class="card-text"><i class="fa fa-clock"></i> @facility.OpenTime</p>
                    <p class="card-text"><i class="fa fa-clock"></i> @facility.CloseTime</p>
                    <p class="card-text">@facility.Description</p>

                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    }
</div>